body {
    font-family: Lato;
    font-size: 13px;
    background-color:rgb(89, 145, 189);
    color: #fff;
  }
  h2{
  padding-left: 30px; 
  text-align: center;
  font-size: 3em;
  }
  form{
    text-align: center;
    padding-left: 20px;
    width: 100%;
    margin-bottom: 20px;
  }
  .todo_text{
    margin-right:8px;
    padding: 5px;
    width:50%;
    border-radius:3px;
    font-size: 1.8em;
  
  }
  form .btn-Add{
    background:rgb(61, 86, 114);
    border-radius: 3px;
    width: 15%;
    padding: 7px;
    font-size: 0.85em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgb(36, 161, 22);
    font-size: 1.8em;
  }
  ul{
    padding:0px 75px;
     padding: 10px 30px 10px;
    
  }
  li{
  list-style: none; 
  /*font-size: 1.8em;*/
  padding: 5px 250px 5px;
  }
  li span{
       font-size: 1.3em;
      letter-spacing: 1px;
      padding: 8px;
  }
  span.checked{
    text-decoration: line-through;
    color: black;
  }
  
  button{
    font-weight: 600;
    color: white;
    background-color: red;
  }